/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Nirva Wireless
VERSION:	2.0.0
-------------------------------------------------------------------*/
@import "variables";

@import "../bootstrap-4.5.2/scss/bootstrap";

@import "typography";

@import "mixins";

@import "buttons";

@import "common";

@import "responsive";

@import "components/sections";

@import "components/preloder";

@import "components/navbar";

@import "components/hero-section";

@import "components/about-section";

@import "components/service-section";

@import "components/footer-section";

@import "components/contact";
