{{ with .Site.Data.aboutSection }}
{{ if .enable }}
<section class="section about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="section-title text-center">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
          {{ .content | markdownify }}
          <div class="mt-5">
            <a class="btn btn-lg btn-primary" href="{{ .button1Target }}">{{ .button1Name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
