{{ with .Site.Data.serviceSection }}
{{ if .enable }}
<section class="section service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-title text-center mb-5">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .service }}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="service-item">
          {{ .content | markdownify }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
